## Creating the dataframe of neighborhoods with the geographical coordinates

In [2]:
import pandas as pd

#### Load the data of neighborhoods

In [13]:
df_NBH = pd.read_csv('Toronto_data.csv')
df_NBH.head()

,Unnamed: 0,PostalCode,Borough,Neighborhood
0,0,M3A,North York,Parkwoods
1,1,M4A,North York,Victoria Village
2,2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"

#### Load the data of geographical coordinates

In [4]:
path = 'http://cocl.us/Geospatial_data'
df_Geo = pd.read_csv(path)
df_Geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Changing the name of the column 'Postal Code' to 'PostalCode'

In [5]:
df_Geo.rename(columns={'Postal Code':'PostalCode'},inplace=True)
df_Geo.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

#### Merging two Objects

In [24]:
df = pd.merge(df_NBH,df_Geo,on='PostalCode')
df_NBH_Geo = df[['PostalCode', 'Borough', 'Neighborhood', 'Latitude','Longitude']]
df_NBH_Geo.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [27]:
df_NBH_Geo.to_csv('NBH_Geo.csv')   # saving the data in the file